@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  background: #221F1D;
  font-family: 'Rubik', sans-serif;

}

/* drop and drag */

#USA {
  position: absolute;
  top: 240px;
  left: 265px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#CANADA {
  position: absolute;
  top: 165px;
  left: 235px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#MEXICO {
  position: absolute;
  top: 307px;
  left: 268px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#BRAZIL {
  position: absolute;
  top: 400px;
  left: 388px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #221F1D;
}

#ARGENTINA {
  position: absolute;
  top: 480px;
  left: 360px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #221F1D;
}

#GREENLAND {
  position: absolute;
  top: 95px;
  left: 415px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #221F1D;
}

#CHINA {
  position: absolute;
  top: 260px;
  left: 780px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#KOREA {
  position: absolute;
  top: 258px;
  left: 835px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#JAPAN {
  position: absolute;
  top: 250px;
  left: 865px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#RUSSIA {
  position: absolute;
  top: 150px;
  left: 755px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#INDONESIA {
  position: absolute;
  top: 382px;
  left: 810px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#AUSTRALIA {
  position: absolute;
  top: 445px;
  left: 845px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#SOUTHAFRICA {
  position: absolute;
  top: 468px;
  left: 577px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#ANTARCTICA {
  position: absolute;
  top: 658px;
  left: 550px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #221F1D;
}

#UK {
  position: absolute;
  top: 190px;
  left: 510px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#GERMANY {
  position: absolute;
  top: 204px;
  left: 544px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#FRANCE {
  position: absolute;
  top: 220px;
  left: 525px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#ITALY {
  position: absolute;
  top: 238px;
  left: 550px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#EGYPT {
  position: absolute;
  top: 286px;
  left: 591px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#IRAN {
  position: absolute;
  top: 270px;
  left: 653px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

#INDIA {
  position: absolute;
  top: 300px;
  left: 713px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
}

/* The Modal (background) */
.usa, .china, .canada, .mexico, .brazil, .argentina, 
.greenland, .korea, .japan, .russia, .indonesia, 
.australia, .uk, .germany, .france, .italy, .egypt,
.iran, .southafrica, .india, .antarctica {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 30%;
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

.modal-content > img {
  border-radius: 10px;
  width: 45%;
  margin: 3%;
}

.flowers {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 3%;
}

.flowers > p {
   overflow: auto;
}

.flowers > h3 {
  margin: 2px;
}



/* map */

.map {
  position: relative;
  display: flex;
  justify-content: center;
  align-item: center;
  width: 100vw;
  height: 100vh;
}

.map > img {
  position: absolute;
  top: 100px;
  width: 1000px;
  z-index: -10;
}

.circles {
  position: relative;
  top: 75px;
  left: -550px;
}


/* nav */
nav {
    position: sticky;
    top: 0;
    height: 100px;
	  width: 100%;
    background: #262A34;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}


.nav-quiz {
  text-decoration: none;
  color: #493D26;
  background: #F2BB66;
  position: relative;
  border-radius: 5px;
  padding: 15px;
  left: -30px;
  top: 32%;
}

.nav-quiz:hover {
  color: white;
  background: #F7B95C;
}

.seeds {
  position: relative;
  left: -50px;
}

.seed1 {
  position: absolute;
  z-index: 1;
}
.seed {
  position: absolute;
  z-index: 2;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.seed:hover {
  cursor: -webkit-grab; cursor: grab;
}

.seed:active {
    cursor: grabbing;
}

@keyframes rotate {
 25% {transform: rotate(10deg);}
 50%, 100% {transform: translateX(0);}
 75% {transform: rotate(360deg);}
}

/* last page */

.description {
  margin: 50px;
  color: white;
}

.mission {
  margin-top: 60px;
}

.who {
  margin-top: 60px;
}

.who > a {
  text-decoration: underline;
  color: white;
}

/* page layout */
#screen1 {
    height: 100vh;
    display: flex;
}

#screen2 {
    background: #2B3856;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#screen3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}



/* quiz */
.quiz-tab {
  width: 35%;
  margin: 0 auto;
  height: 50%;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz {
  background-color: #E8A317;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 5%;
  color: #493D26;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#quiz > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
}

.questions {
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #493D26;
  border-bottom: 1px solid #493D26;
  border-radius: 3%;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.answers div:hover {
  cursor: pointer;
  color: #EBF4FA;
}

.answers {
  padding: 0px 0 10px 0px;
}

.answers div {
  margin: 15px auto;
}


.right-wrong {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #6CBB3C;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #E42217;
}
